:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.glass {
  background: rgba(255,255,255,0.28);
  backdrop-filter: blur(14px) saturate(160%) contrast(110%);
  box-shadow: 0 8px 32px #2c345563, 0 1.5px 4px #c9a2f5cc;
  border-radius: 18px;
  border: 1.1px solid rgba(255,255,255,0.18);
}

.vibrant-btn {
  background: linear-gradient(89deg, #5E60F8 0%, #69EBD9 100%);
  color: #fff;
  box-shadow: 0 2px 12px #4e6cff66;
  font-weight: 700;
  transition: background .23s;
  border: none;
  cursor: pointer;
}

.vibrant-btn:hover {
  background: linear-gradient(89deg, #233adf 0%, #21bcb9 100%);
}
