# Node
node_modules
dist
.env

# Vite
/client/dist
/client/.env

# TypeORM
/server/*.sqlite
/server/dist
/server/.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Hardcode User
server/src/scripts/seedUser.ts